@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Playfair+Display:wght@500;600;700&display=swap');

@import "tailwindcss";

html{
    scroll-behavior:smooth;
}

body{
    font-family:'Inter',sans-serif;
    background:#F8F8F6;
    color:#1A1A1A;
}